

/* This is the beginning of the external CSS formtting code */
body {
  background-color:#FCF8E8; /* https://colorhunt.co/palette/fef5edd3e4cdadc2a999a799 */
}

h1 {
  color: #94B49F;
  font-size: 50px;
  padding: 1px;
  font-family: "Optima";
}

h3 {
  color: darkgray;
  font-size: 20px;
}

p {
  margin: .5px;
  padding: .5px;
  font-size: 14px;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  color: lightgray;
  width:50px
}

img {
  height: 150px;
  width: 150px;
}
